body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
display: flex;
justify-content: center;
text-align: center;
align-items:center;
/* border:1px solid red; */
flex-direction: column;
background-image:linear-gradient(135deg,#00feba,#5b548a);
/* background-color: re; */
}
.card input{
    background-color: white;
    color:black;
    
}